.navbar-container {
  display: none;
}

.auth {
  display: flex;
  background: #fff;
}

.auth .content,
.auth .background {
  width: 50%;
}

.auth .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth .content .form {
  max-width: 520px;
  width: 90%;
}

.auth .content .form h5 {
  color: #121212;
  font-weight: 600;
  font-size: 20px;
}

.auth .content .form .inputs {
  margin-top: 32px;
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.auth .content .form .inputs .input-box {
  height: 56px;
  width: 100%;
  position: relative;
  border: 1px solid #cbcbcb;
  border-radius: 12px;
  overflow: hidden;
}

.auth .content .form .inputs .input-box .input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding-right: 44px;
  color: #121212;
  font-weight: 400;
  font-size: 16px;
}

.auth .content .form .input .input-box .input::placeholder {
  color: #717171;
}

.auth .content .form .inputs .input-box svg {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-block: auto;
}

.auth .content .form .inputs .input-box .icon {
  right: 14px;
}

.auth .content .form .inputs .input-box .eye {
  left: 16px;
  cursor: pointer;
}

.auth .content .form .submit {
  background: #417f56;
  color: #fff;
  width: 100%;
  height: 56px;
  margin-top: 32px;
  border-radius: 12px;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}

.auth .content .form .text {
  color: #121212;
  text-align: center;
  margin-top: 12px;
}

.auth .content .form .text a {
  color: #417f56;
  text-decoration: none;
}

.auth .background {
  background-image: url("/images/Auth-background.png");
  object-fit: cover;
  height: 100vh;
}

@media (max-width: 900px) {
  .navbar-container {
    display: block;
  }

  .background {
    position: fixed;
    inset: 0;
    z-index: -1;
    width: 100vw !important;
    background-position: center;
  }

  .auth .content {
    position: fixed;
    background: #fff;
    bottom: 0;
    width: 100vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 2rem;
  }

  .auth .content .form h5 {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 180%;
    margin-top: 12px;
  }

  .auth .content .form .inputs {
    margin-top: 24px;
  }

  .auth .content .form .inputs .input-box {
    height: 48px;
  }

  .auth .content .form .submit {
    height: 40px;
  }
}
