.page-not-found-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-not-found-content img {
  max-width: 610px;
}

.page-not-found-content p {
  font-size: 20px;
  font-weight: 400;
}

.page-not-found-content a {
  margin-top: 1rem;
}

@media (max-width: 900px) {
  .page-not-found-content img {
    width: 500px;
  }
}

@media (max-width: 700px) {
  .page-not-found-content img {
    width: 400px;
  }
}

@media (max-width: 500px) {
  .page-not-found-content img {
    width: 300px;
  }

  .page-not-found-content p {
    font-size: 16px;
  }
}
