*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  font-family: "modam";
  --sb-track-color: #e6e6e6;
  --sb-thumb-color-1: #417f56;
  --sb-thumb-color-2: #69be85;
  --sb-size: 10px;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    to bottom,
    var(--sb-thumb-color-1),
    var(--sb-thumb-color-2)
  );
  border-radius: 4px;
  cursor: pointer;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.container {
  max-width: 90%;
  width: 1224px;
  margin-inline: auto;
}

.btn-primary {
  background: transparent;
  padding: 12px;
  border: 1px solid #417f56;
  outline: none;
  border-radius: 12px;
  min-width: 50px;
  height: 50px;
}

.link-primary {
  background: transparent;
  padding: 12px;
  border: 1px solid #417f56;
  outline: none;
  border-radius: 12px;
  text-decoration: none;
  color: #417f56;
  min-width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* Fonts */

@font-face {
  font-family: "modam";
  src: url("./assets/fonts/Modam-Regular.ttf");
}
